body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5) !important;
}
html{
    background-color: black;
}
header{
    background-color: black;
}
.navbar{
    background-color: black;
    color:#f4d0d0;
}

.container-fluid{
    background-color: black;
    color:#f4d0d0;

}
.container-fluid>a{
    color:#f4d0d0;
}
#customer_main_section>h1{
    top:500px;
    position:absolute;

}
.nav-item>a{
    color:white
}
.nav-item > a {
    color: white;
    text-decoration: none; /* Optional: To remove underline from links */
}

.nav-item > a:hover {
    color: palevioletred; /* This is a pale pink color */
}
.card {
    border-radius: 20px;
    color: #f4d0d0;
    background-color: #876262;
    border: 2px solid white;
    box-shadow: 0 0 5px white;
    transition: all 0.3s ease-in-out;
    padding: 20px;
    text-align: center;
    margin: 20px;
}

.card:hover {
    border-color: pink;
    animation: bounce 0.5s;
    box-shadow: 0 0 15px pink;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.main-card{
    top:50px;
    height:750px;
}
.customer-detail-card{
    top:100px;

}
.customer-detail-table-c{
    top:100px;
}

.item_card{

}
#order_form1{
    top:100px;
    height:500px;
}
#order_form2{
    top:100px;
    height: 500px;
}
#order_form3{
    top:100px;
    height: 500px;
}
#order_search{
    top:50px;
}
#customer_search{
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    top:50px;
  width:600px;
}
#customer_Main_card{
    top:100px;
}
#item_search{
    top:50px;
}
#main_item_card{
    top:100px;
}
#customer_card_table{
    top:200px;
}
.item_card{
    top:40px;
}

